.btn1{
    border: 0cm;
    background-color: blue;
    border-radius: 1cm;
}

.btn2{
    border: 0cm;
    background-color: blue;
    border-radius: 1cm;
}

.btn3{
    border: 0cm;
    background-color: blue;
    border-radius: 1cm;
}


